/* Edit Profile Page Styles */

.edit-profile-panel {
    -fx-background-color: #2c3e50; /* dark blue-gray background */
    -fx-padding: 30px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0, 0, 2);
}

.edit-profile-label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #333446;
}

.edit-profile-textfield {
    -fx-background-color: #EAEFEF;
    -fx-background-radius: 5;
    -fx-padding: 8 12 8 12;
    -fx-font-size: 14px;
    -fx-border-color: #888888;
    -fx-border-radius: 5;
}

.edit-profile-button {
    -fx-background-color: #4CAF50; /* green */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 10 20 10 20;
}

.edit-profile-button:hover {
    -fx-background-color: #45a049; /* darker green on hover */
}

.user-icon {
    -fx-fill: #333446;
}

.background-color {
    -fx-background-color: #EAEFEF;
}

.background2-color {
    -fx-background-color: #B8CFCE
}